*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
/*  DIVISIONE DELLA STRUTTURA IN DUE MACROAREE */
.top-block{
    height: calc(100vh - 75px);
    
}
.bottom-block{
    height: 75px;
                                    background-color: black;
}
/* PRIMA MACROAREE DA DIVIDERE IN DUE BLOCCHI */
.top-content{
    display: flex;
    height: 100%;
}
/* PRIMO BLOCCO, SIDEBAR */
.sidebar{
    width: 50px;
    
    background-color: black;
}
/* SIDEBAR PICCOLA */
.container-sidebar, .row-sidebar-piccola{
    width: 100%;
    height: 100%;
}
.row-sidebar-piccola{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0px;
    text-align: center;
    

}
.svg-sidebar-piccola{
    width: 60%;
    padding: 5px 0px;
}
#download{
    width: 42%;
    padding-bottom: 20px;
    position: relative;
    right: 2px;
}
#profile{
    width: 60%;
    background-color: grey;
    padding: 5px;
    border-radius: 50%;
}
/* SIDEBAR GRANDE */
.row-sidebar-grande{
    display: none;
    padding: 10px 0px;
}
.logo-grande{
    width: 85%;
    padding-left: 20px ;
    padding-bottom: 20px;
    
}
.svg-sidebar-grande{
    width: 30%;
    vertical-align: middle;
    padding-left: 15px;
}
.svg-filter{
    filter: invert(50%) ;
}
.svg-home{
    border-left: 3px solid rgba(173,255,47,255);
}
.home, .cerca{
    vertical-align: middle;
}
.home{
    color: white;
}
.list-sidebar-grande{
    color: rgba(124,126,130,255);
    padding: 5px 5px;
    font-size: 14px;

}
/* SECONDO BLOCCO, DA DIVIDERE A SUA VOLTA IN HEADER E MAIN */
.center{
    width: calc(100vw - 50px);
    overflow-y: auto;
                                    background-color: red;
}
/* HEADER */
header{
    position: fixed;
    width: 100%;
    height: 75px;
    background-color: rgba(20, 25, 34, 0.613);
   
    
}
.upgrade{
    background-color: rgba(20, 25, 34, 0.613);
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    position: absolute;
    top: 16px;
    right: 60px;
    
}
/* MAIN */
main{

}
.container{
    width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 85px;
}
.column{
    margin: 10px;
    width: calc(100% / 2 - 20px);
    
                                    height: 100px;
                                    background-color: blue;
}



/* RESPONSIVE */
/* 576px */
@media screen and (min-width: 576px) {
    .sidebar{
        width: 200px;
    }
    .upgrade{
        right: 170px;
    }
    .row-sidebar-piccola{
        display: none;
    }
    .row-sidebar-grande{
        display: block;
    }
}
/* 768px */
@media screen and (min-width: 768px) {
    .column{
        width: calc(100% / 4 - 20px);
    }
    .upgrade{
        right: 180px;
    }
}
/* 992px */
@media screen and (min-width: 992px) {
    .column{
        width: calc(100% / 6 - 20px);
    }
    .upgrade{
        right: 190px;
    }
}

